<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Somet Title</title>
</head>
<body>

  <p>{{pageTitle}} {{Ranger}}</p>  
    
</body>
</html>